/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Space Grotesk", sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  background: url(../img/bg.svg);
  background-position: right top;
  background-size: cover;
  height: 240px;
  position: relative;
  margin-bottom: 91px;
}

.card-back {
  width: 286px;
  height: 157px;
  background: linear-gradient(168.73deg, #ffffff 5%, #d2d3d9 91.69%);
  border-radius: 6px;
  padding-top: 15px;
  position: absolute;
  top: 32px;
  right: 16px;
}
.card-back span {
  display: block;
  height: 34.6px;
  background-color: rgba(47, 47, 47, 1);
}

.card-back #cvc {
  /* width: 230.98px; */
  height: 29.74px;
  border-radius: 4px;
  background-color: #adb5be;
  border: none;
  margin-top: 15px;
  margin-inline: 27px;
  color: white;
  font-size: 9px;
  font-weight: 500;
  line-height: 11.48px;
  letter-spacing: 1.2857142686843872px;
  text-align: right;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-right: 9px;
}

.card-front {
  width: 286px;
  height: 157px;
  background: url(../img/card-front.svg) no-repeat;
  background-position: right top;
  border-radius: 6px;
  padding-top: 17px;
  position: absolute;
  top: 126px;
  left: 16px;
  z-index: 1;
}

.card-top {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 19px;
}
.card-top span:first-child {
  width: 30.19px;
  height: 30px;
  top: 18px;
  left: 20px;
  background-color: #ffffff;
  border-radius: 50%;
}

.card-top span:last-child {
  width: 13.58px;
  height: 13.5px;
  top: 26.25px;
  left: 60.42px;
  border: 1px solid white;
  border-radius: 50%;
}
#cardNumber {
  background-color: inherit;
  border: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 22.97px;
  letter-spacing: 2.200000047683716px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
  margin-top: 37px;
  margin-left: 19px;
}

.card-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 19px;
  margin-top: 17px;
  font-size: 9px;
  font-weight: 500;
  line-height: 11.48px;
  letter-spacing: 1.2857142686843872px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
}

.card-content {
  /* margin-top: 91px; */
  margin-inline: 24px;
}

.card-content h4 {
  font-size: 12px;
  font-weight: 500;
  line-height: 15.31px;
  letter-spacing: 2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 9px;
}

.card-content input {
  padding-left: 16px;
  border: none;
  width: 299px;
  height: 45px;
  border: 1px solid #dfdee0;
  border-radius: 8px;
  margin-bottom: 20px;
}
#cardHolderName {
  margin-bottom: 20px;
}

.card-content input::placeholder {
  font-size: 18px;
  font-weight: 500;
  line-height: 22.97px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.card-content-date {
  display: flex;
  margin-inline: 24px;
  gap: 11px;
  margin-bottom: 28px;
}

.date-left h4 {
  font-size: 12px;
  font-weight: 500;
  line-height: 15.31px;
  letter-spacing: 2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 9px;
}

.inputs {
  display: flex;
  gap: 8px;
}

.inputs input {
  width: 72px;
  height: 45px;
  border: none;
  border: 1px solid #dfdee0;
  border-radius: 8px;
  padding-left: 16px;
}
.inputs input::placeholder {
  font-size: 18px;
  font-weight: 500;
  line-height: 22.97px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.date-right input {
  width: 110px;
  height: 45px;
  border-radius: 8px;
  border: none;
  border: 1px solid #dfdee0;
  padding-left: 16px;
}

.date-right input::placeholder {
  font-size: 18px;
  font-weight: 500;
  line-height: 22.97px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.date-right h4 {
  font-size: 12px;
  font-weight: 500;
  line-height: 15.31px;
  letter-spacing: 2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 9px;
}

.confirmBtn {
  background: #21092f;
  color: #ffffff;
  margin-inline: 24px;
  padding: 15px 130px;
  font-size: 18px;
  font-weight: 500;
  line-height: 22.97px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  border-radius: 8px;
  margin-bottom: 45px;
}

.resultScreen img {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 35px;
}

.resultScreen h3 {
  font-size: 28px;
  font-weight: 500;
  line-height: 35.73px;
  letter-spacing: 3.422222137451172px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 16px;
}

.resultScreen p {
  font-size: 18px;
  font-weight: 500;
  line-height: 22.97px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #8f8694;
  margin-bottom: 48px;
}

.error {
  color: red;
  font-size: 12px;
  font-weight: 500;
  line-height: 15.31px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 20px;
  display: none;
}

@media only screen and (min-width: 1024px) {
  body {
    background: url(../img/Group\ 10.png) no-repeat;
    background-position: left;
    background-size: 33.5% 100vh;
    height: 100vh;
    /* height: 100vh; */
  }
  .header {
    background: none;
  }

  .desktop-flex {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 127px;
  }
  .card-back {
    position: relative;
    top: 0;
    right: 0;
    width: 447px;
    height: 245px;
    margin-left: 258px;
  }
  .card-front {
    position: relative;
    top: 0;
    right: 0;
    background: url(../img/Oval\ Copy\ 2.svg);
    width: 447px;
    height: 228px;
    margin-bottom: 37px;
    margin-left: 164px;
    margin-top: -187px;
  }

  .cardInfo {
    margin-right: 227px;
  }

  #cardNumber {
    font-family: Space Grotesk;
    font-size: 28px;
    font-weight: 500;
    line-height: 35.73px;
    letter-spacing: 3.422222137451172px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 64px;
    margin-bottom: 25px;
  }

  .card-name p {
    font-size: 14px;
    font-weight: 500;
    line-height: 17.86px;
    letter-spacing: 2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .card-name span {
    font-size: 14px;
    font-weight: 500;
    line-height: 17.86px;
    letter-spacing: 2px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .card-top span:first-child {
    width: 46.96px;
    height: 47px;
    top: 28px;
    left: 32px;
  }

  .card-top span:last-child {
    width: 21.13px;
    height: 21.15px;
    top: 40.93px;
    left: 94.87px;
    border: 1px 0px 0px 0px;
  }
  .card-back span {
    height: 54px;
    margin-top: 8px;
  }

  .card-back #cvc {
    width: 361px;
    height: 38px;
    font-size: 14px;
    font-weight: 500;
    line-height: 17.86px;
    letter-spacing: 2px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 24px;
  }
}
